#navbar {
    background-color: rgb(87, 87, 87);
    background-repeat: no-repeat;
    background-position: center;

}

#logo {
    position: relative;
    display: flex;
    align-items:self-start ;
    justify-content: start;
    padding-bottom: 20px;
    padding-left: 40px;
}

#logo img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    padding-top: 30px;
    

}

#title {
    position: absolute;
    font-family: "Birthstone Bounce", cursive;
    font-size: 35px;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 50%;
}

