#navbar {
    background-color: rgb(148, 41, 8);
    background-image: url("../image/tusrecetas.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}

#logo {
    position: relative;
    display: flex;
    align-items:self-start ;
    justify-content: start;
    padding-bottom: 20px;
    padding-left: 40px;
}

#logo img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    

}

#title {

    right: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

#enlaceAbout {
    display: flex;
    align-items: center;
    justify-content: center;
    
}