

#button-content {
    background-color: rgb(221, 221, 136);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}



#button {
display: flex;
align-items: center;
justify-content: center;
width: 80px;
height: 60px;
margin: 50px;
border-radius: 20px;
}

#button img {
    width: 60px;
    height: 40px;
    

}

#recetario {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}


#contenedor {
    position: absolute;
    background-color: rgb(71, 87, 68);
    height: 100%;
    width: 194px;
    padding-right: 20px;
}


#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(55, 57, 58);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#footer img {
    width: 90px;
    padding: 10px;
    
}

#details {
    text-align: center;
    background-color: rgb(146, 172, 100);
}

#about {
    text-align: center;
   background-color: rgb(83, 92, 100);
    
}



#error {
    text-align: center;
}

#lista {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(107, 161, 150);
    width: 40%;
    border-radius: 25px;
    margin: 30px auto 100px auto;
}

#formulario {
    background-color: rgb(48, 84, 117);
    border-radius: 30px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 160px;
    font-size: large;
    text-align: center;
    
}

#formulario label {
    display: block;
    margin-bottom: 2px;
    margin-top: 18px;
}

#formulario input {
    margin-left: 9px;
}

#recetario {
    font-size:x-large;
}

#lista li {
    font-size: x-large;
    padding-top: 15px;
   
}

#lista button {
    border-radius: 10px;
    background-color: rgb(250, 104, 104);
}