

#button-content {
    background-color: beige;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}



#button {
display: flex;
align-items: center;
justify-content: center;
width: 80px;
height: 80px;
margin: 50px;
border-radius: 20px;
}

#button img {
    width: 80px;
    height: 60px;
    

}

#recetario {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#contenedor {
    position: absolute;
    background-color: antiquewhite;
    height: 100%;
}



#title {

    right: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#logo {
    position: relative;
    display: flex;
    align-items:center ;
    justify-content: center;
    margin-top: 0;
}

#logo img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    

}

#navbar {
    background-color: rgb(247, 193, 76);


}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(55, 57, 58);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#footer img {
    width: 100px;
    padding: 10px;
}
