

#button-content {
    background-color: beige;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}



#button {
display: flex;
align-items: center;
justify-content: center;
width: 80px;
height: 60px;
margin: 50px;
border-radius: 20px;
}

#button img {
    width: 60px;
    height: 40px;
    

}

#recetario {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}


#contenedor {
    position: absolute;
    background-color: antiquewhite;
    height: 100%;
}


#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(55, 57, 58);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#footer img {
    width: 90px;
    padding: 10px;
    
}

#details {
    text-align: center;
    background-color: rgb(146, 172, 100);
}